.idea/*
infrastructure/.terraform/*
infrastructure/.terraform.lock.hcl
infrastructure/venv/*
venv/*
.env
infrastructure/development/.terraform.lock.hcl
infrastructure/development/.terraform
infrastructure/staging/.terraform.lock.hcl
infrastructure/staging/.terraform
infrastructure/production/.terraform.lock.hcl
infrastructure/production/.terraform
lambda.zip
.DS_Store
lib_src/lib/key_file.json
lib_src/lib/local_main.py
__pycache__/
