.idea/*
infrastructure/.terraform/*
infrastructure/.terraform.lock.hcl
infrastructure/venv/*
lib/__pycache__/*
lib/gateways/__pycache__/*
lib/usecase/__pycache__/*
venv/*
.env
infrastructure/development/.terraform.lock.hcl
infrastructure/development/.terraform
infrastructure/staging/.terraform.lock.hcl
infrastructure/staging/.terraform
infrastructure/production/.terraform.lock.hcl
infrastructure/production/.terraform
lambda.zip
.DS_Store
