CV_19_RES_SUPPORT_V3_HELP_REQUESTS_BASE_URL=
CV_19_RES_SUPPORT_V3_HELP_REQUESTS_API_KEY=

#Contact Tracing folders
CT_INBOUND_FOLDER_ID=
CT_OUTBOUND_FOLDER_ID=

#CEV from the national shielding service folders
CEV_INBOUND_FOLDER_ID=
CEV_OUTBOUND_FOLDER_ID=

#CEV from the shielding patient list
SPL_INBOUND_FOLDER_ID=
SPL_OUTBOUND_FOLDER_ID=
